@model IEnumerable<Open.GI.hypermart.Models.Product>

@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<p>You searched for @(ViewData["SearchTerm"])</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tagline)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lead)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SourceCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tagline)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            <div class="row">
                <div class="HISTOGRAM col-md-12">
                    @Html.Display("", "Rating")
                </div>
            </div>

 
        </td>
        <td>
            @Html.ActionLink("Edit","Edit","Products", new { id = item.ID },null) |
            @Html.ActionLink("Details", "Details", "Products", new { id = item.ID }, null) |
            @Html.ActionLink("Delete", "Delete", "Products", new { id = item.ID }, null)
        </td>
    </tr>
}

</table>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/starrating")