@model Open.GI.hypermart.Models.Product
@using Open.GI.hypermart.Controllers.API;
 
 
@{
    ViewBag.Title = "Details";
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            @Html.DisplayFor(model => model.Title)
            <small>@Html.DisplayFor(model => model.Tagline)</small>
        </h1>
    </div>
</div>
<div class="row">



    <div id="carousel-example-generic" class="col-md-8 carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">




            @{Int32 SlideID = 0;}


            @foreach (var f in Model.Screenshots )
            {
                if (SlideID == 0)
                {
                    <li data-target="#carousel-example-generic" data-slide-to="@SlideID" class="active"></li>
                }
                else
                {
                    <li data-target="#carousel-example-generic" data-slide-to="@SlideID"></li>
                }
                SlideID = SlideID + 1;
            }


        </ol>



        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            @{Boolean Activated = false;}


            @{

                if (Model.Screenshots.Count == 0)
                {
                    <img src="~/Resources/drawing-1.png" />

                }
            }

            @foreach (var f in Model.Screenshots)
            {

                var img = String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(f.ScreenShot1));

                if (Activated == false)
                {
                    Activated = true;
                    <div class="item active">

                        <img style="width:750px;" src="@img" alt="...">
                    </div>

                }
                else
                {
                    <div class="item">
                        <img style="width:750px;"  src="@img" alt="...">
                    </div>
                }
            }
        </div>
    </div>




    <div class="col-md-4">
        <h3>Project Description</h3>
        <p>@Html.DisplayFor(model => model.Description)</p>
    </div>

    <div class="col-md-4">
        <h3>Downloads</h3>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Version</th>
                        <th>Release Date</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.Files)
                    {
                        <tr class="success">
                            <td>

                                @foreach (var pform in item.Platforms)
                                {
                                    <i class='fa @Open.GI.hypermart.Helpers.PlatformHelper.GetPlatformString(pform.ID)' data-toggle='tooltip' title='Cannot find details for platform : {0}'></i>
                                }

                            </td>

                            <td>@item.Version</td>
                            <td>2015-01-01</td>
                            <td>
                                <a href='@Url.Action("Download", "Download", new { ID = item.ID })'>
                                    <i class="fa fa-cloud-download"></i> Download
                                </a>
                            </td>

                        </tr>

                    }



                </tbody>
            </table>
        </div>
    </div>





</div>
<div class="row Embed">
    Contact for this application : @{ Html.RenderAction("Details", "User", new { userid = @Html.DisplayFor(model => model.Lead) }); }
</div>


<!-- RATINGS HERE-->
@{
    var RatesController = new RatingsController();
    var reviewCount = Model.RatingsDetail.Select(x => x.userID).Distinct().Count();
    var res =     RatesController.GetRatings();
}


@{
    var AvgRatings = new Dictionary<string, Double>();
    foreach (var item in res.Ratings)
    {
        var avg = new Double();
        if (Model.RatingsDetail.Where(x => x.RatingCategory == item.RatedArea).Count() > 0)
        {
            avg = Model.RatingsDetail.Where(x => x.RatingCategory == item.RatedArea).Average(z => z.rating);
        }
        else
        {
            avg = 0;
        }

        AvgRatings.Add(item.RatedArea, avg);
    }
}


 
 



    @if (Model.RatingsDetail.Count > 0)
    {
        foreach (var item in res.Ratings)
        {
            var s = item.RatedArea;
            Double avg = 0;
            if (Model.RatingsDetail.Where(x => x.RatingCategory == item.RatedArea).Count() >0)
            {
                avg = Model.RatingsDetail.Where(x => x.RatingCategory == item.RatedArea).Average(z => z.rating);
            }
        }

    }
    
    
 

 





    <div class="row">

        <div class="col-lg-12">
            <h3 class="page-header">Ratings</h3>
        </div>



    </div>
    <div class="row">
        <div class="HISTOGRAM col-md-12">
            
            @foreach (var item in AvgRatings)
            {
                var perdnt = ( item.Value/5) * 100;
                <div class="row">
                    <div class="col-md-1">@item.Key</div>
                    <div class="col-md-11">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar"
                                 aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:@perdnt%">
                                @item.Value
                            </div>
                        </div>
                    </div>
                </div>

            }




        </div>
    </div>

<span class="star-rating">  
    <input type="radio" name="rating" value="1"><i></i> 
    <input type="radio" name="rating" value="2"><i></i>    
    <input type="radio" name="rating" value="3"><i></i>
    <input type="radio" name="rating" value="4"><i></i>
    <input type="radio" name="rating" value="5"><i></i>
    <input type="radio" name="rating" value="6"><i></i>
    <input type="radio" name="rating" value="7"><i></i>
    <input type="radio" name="rating" value="8"><i></i>
    <input type="radio" name="rating" value="9"><i></i>
    <input type="radio" name="rating" value="10"><i></i>
    <input type="radio" name="rating" value="11"><i></i>
    <input type="radio" name="rating" value="12"><i></i>
    <input type="radio" name="rating" value="13"><i></i>
    <input type="radio" name="rating" value="14"><i></i>
    <input type="radio" name="rating" value="15"><i></i>
</span>

     
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Rate</h3>
            </div>
         </div>
    @foreach (var item in res.Ratings)
    {
        <div class="row">
            <div class="col-md-2">@item.RatedArea </div>
            <div class="col-lg-10">
                <span class="star-rating">
                    @for (int i = 0; i < 15; i++)
                    {
                        <input type="radio" name="@item.RatedArea" value="@i"><i></i>
                    }
        
                </span>

            </div>
        </div>

    }


        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Related Projects</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://www.fillmurray.com/500/300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://www.fillmurray.com/500/300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://www.fillmurray.com/500/300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://www.fillmurray.com/500/300" alt="">
                </a>
            </div>

        </div>


        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
