@model Open.GI.hypermart.Models.Product
 
@{
    ViewBag.Title = "Details";
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            @Html.DisplayFor(model => model.Title)
            <small>@Html.DisplayFor(model => model.Tagline)</small>
        </h1>
    </div>
</div>

<div class="row">
    <div id="carousel-example-generic" class="col-md-8 carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">




            @{Int32 SlideID = 0;}


            @foreach (var f in Model.Screenshots )
            {
                if (SlideID == 0)
                {
                    <li data-target="#carousel-example-generic" data-slide-to="@SlideID" class="active"></li>
                }
                else
                {
                    <li data-target="#carousel-example-generic" data-slide-to="@SlideID"></li>
                }
                SlideID = SlideID + 1;
            }


        </ol>



        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            @{Boolean Activated = false;}


            @{

                if (Model.Screenshots.Count == 0)
                {
                    <img src="~/Resources/drawing-1.png" />

                }
            }

            @foreach (var f in Model.Screenshots)
            {

                var img = String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(f.ScreenShot1));

                if (Activated == false)
                {
                    Activated = true;
                    <div class="item active">

                        <img style="width:750px;" src="@img" alt="...">
                    </div>

                }
                else
                {
                    <div class="item">
                        <img style="width:750px;"  src="@img" alt="...">
                    </div>
                }
            }
        </div>
    </div>
    <div class="col-md-4">
        <h3>Project Description</h3>
        <p>@Html.DisplayFor(model => model.Description)</p>
    </div>
    <div class="col-md-4">
        <h3>Downloads</h3>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Version</th>
                        <th>Release Date</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.Files)
                    {
                        <tr class="success">
                            <td>

                                @foreach (var pform in item.Platforms)
                                {
                                    <i class='fa @Open.GI.hypermart.Helpers.PlatformHelper.GetPlatformString(pform.ID)' data-toggle='tooltip' title='Cannot find details for platform : {0}'></i>
                                }

                            </td>

                            <td>@item.Version</td>
                            <td>2015-01-01</td>
                            <td>
                                <a href='@Url.Action("Download", "Download", new { ID = item.ID })'>
                                    <i class="fa fa-cloud-download"></i> Download
                                </a>
                            </td>

                        </tr>

                    }



                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        Contact for this application : @{ Html.RenderAction("popup_Details", "User", new { userid = @Html.DisplayFor(model => model.Lead) }); }
    </div>
</div>


<!-- RATINGS HERE-->

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Ratings</h3>
    </div>
</div>
<div class="row">
    <div class="HISTOGRAM col-md-12">
        @foreach (var item in Model.AverageRating)
        {
            Html.RenderPartial("Rating", item);
        }
    </div>
</div>
 

     
     
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Rate This Project</h3>
            </div>
         </div>
@foreach (var item in Model.MyRating )
    {
        <div class="row">
            <div class="col-md-2">@item.RatingCategory</div>
            <div class="col-lg-10">
                <span class="star-rating">
                    <input id="input-id" value="@item.rating"  data-rated-area="@item.RatingCategory" data-show-clear="true" data-show-caption="false" data-size="xs" name="input-1" data-theme="krajee-fa" class="foobar rating rating-loading" data-animate="false" data-min="0" data-stars="5" data-max="5" data-step="1">
                 </span>
            </div>
        </div>
    }

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Related Projects</h3>
    </div>
    <div class="col-sm-3 col-xs-6">
        <a href="#">
            <img class="img-responsive portfolio-item" src="http://www.fillmurray.com/500/300" alt="">
        </a>
    </div>
    <div class="col-sm-3 col-xs-6">
        <a href="#">
            <img class="img-responsive portfolio-item" src="http://www.fillmurray.com/500/300" alt="">
        </a>
    </div>
    <div class="col-sm-3 col-xs-6">
        <a href="#">
            <img class="img-responsive portfolio-item" src="http://www.fillmurray.com/500/300" alt="">
        </a>
    </div>
    <div class="col-sm-3 col-xs-6">
        <a href="#">
            <img class="img-responsive portfolio-item" src="http://www.fillmurray.com/500/300" alt="">
        </a>
    </div>
</div>


        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
 
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/starrating")
<script type="text/javascript">

    function updateOrAddRating(event,value) {
        var area = event.currentTarget.attributes['data-rated-area'].nodeValue;
        var OutOf = 5;
        var score = value;
        var Data =
            {
                "ProductID": 1,
                "FileID": 0,
                "Ratings": [
                    { "RatedArea": area, "Score": score, "OutOf": 5 }
                ],
                "CommentTitle": null,
                "Comment": null
            }
        var markers = [];
        $.ajax({
            url: '@Url.Content("~/")/api/Ratings',
            type: 'POST',
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify(Data),
            failure: function (errMsg) { alert(errMsg); }
        });

    }

    $(".foobar").on('rating.change', function (event, value, caption) {
        updateOrAddRating(event, value);
    });

    $(".foobar").on('rating.clear', function (event) {
        updateOrAddRating(event, 0);
    });




</script>